In [2]:
# import needed modules
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

data = pd.read_csv('music-csv.csv')
data.head()
# # Create an input set
# X = data.drop(columns=['genre'])
# # create an output set
# y = data['genre']
# # Split your data into training and testing data
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
# # create an instance of the model
# model = DecisionTreeClassifier()
# # Train your model
# model.fit(X_train, y_train)

# # make predictions
# # predictions = model.predict(X_test)
# # calculate the model's accuracy
# # score = accuracy_score(y_test, predictions)

# # save your model
# # joblib.dump(model, 'music-recommender.joblib')

# # load your trained model
# model = joblib.load('music-recommender.joblib')

# # visualize your model
# tree.export_graphviz(model, out_file='music_recommender.dot', feature_names=['age', 'gender'], class_names=sorted(y.unique()),
#                     label='all', rounded=True, filled=True)

   age  gender   genre
0   20       1  Hippop
1   24       1  Hippop
2   25       1  Hippop
3   29       1    Jazz
4   28       1   Dance

In [4]:
data.describe

<bound method NDFrame.describe of        movieId                                    title  \
0            1                         Toy Story (1995)
1            2                           Jumanji (1995)
2            3                  Grumpier Old Men (1995)
3            4                 Waiting to Exhale (1995)
4            5       Father of the Bride Part II (1995)
...        ...                                      ...
58093   193876                  The Great Glinka (1946)
58094   193878  Les tribulations d'une caissiÃ¨re (2011)
58095   193880                 Her Name Was Mumu (2016)
58096   193882                             Flora (2017)
58097   193886                              Leal (2018)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
58093                           (no genres listed)
58094                                       Comedy
58095                                        Drama
58096                Adventure|Drama|Horror|Sci-Fi
58097                           Action|Crime|Drama

[58098 rows x 3 columns]>

In [5]:
data.values

array([[1, 'Toy Story (1995)',
        'Adventure|Animation|Children|Comedy|Fantasy'],
       [2, 'Jumanji (1995)', 'Adventure|Children|Fantasy'],
       [3, 'Grumpier Old Men (1995)', 'Comedy|Romance'],
       ...,
       [193880, 'Her Name Was Mumu (2016)', 'Drama'],
       [193882, 'Flora (2017)', 'Adventure|Drama|Horror|Sci-Fi'],
       [193886, 'Leal (2018)', 'Action|Crime|Drama']], dtype=object)